@model TechAssignment.Models.MGA

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>MGA</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BussinessName" class="control-label"></label>
                <input asp-for="BussinessName" class="form-control" />
                <span asp-validation-for="BussinessName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BussinessAddress" class="control-label"></label>
                <input asp-for="BussinessAddress" class="form-control" />
                <span asp-validation-for="BussinessAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BussinessPhoneNumber" class="control-label"></label>
                <input asp-for="BussinessPhoneNumber" class="form-control" />
                <span asp-validation-for="BussinessPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
